.navbar {
  background: #0A1A41;
  padding: 20px 0;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  font-size: 22px;
  font-weight: 500;
  margin-right: 100px;
}

.logo span {
  color: #3498db;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: -50px;
}

.nav-links li {
  margin-left: 20px;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  padding: 5px 0;
  display: inline-block;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-icon {
  font-size: 24px;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 10px;
      background: #0A1A41;
      border-radius: 5px;
      width: 200px;
      text-align: center;
      padding: 10px 0;
  }

  .nav-links.open {
      display: flex;
  }

  .nav-links li {
      margin: 10px 0;
  }

  .nav-links a::after {
      bottom: 0;
  }
}
